@model ConsultorioDeSeguros.Models.Seguro

@{
    ViewData["Title"] = "Registrar Seguro";
}

<div class="d-flex justify-content-center mt-5">
    <form asp-action="Register" method="post" class="w-40 p-5" style="background-color: #41a3ff; border-radius: 8px;">
        <div class="form-group mb-3 text-center">
            <h1 class="text-center text-white">@ViewData["Title"]</h1>
        </div>

        <div class="form-group mb-3 text-center">
            <input asp-for="Nombre" class="form-control form-control-sm w-75 mx-auto" placeholder="Nombre del Seguro" style="border-radius: 8px;" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group mb-3 text-center">
            <input asp-for="SumaAsegurada" class="form-control form-control-sm w-75 mx-auto" placeholder="Suma Asegurada" style="border-radius: 8px;" />
            <span asp-validation-for="SumaAsegurada" class="text-danger"></span>
        </div>

        <div class="form-group mb-3 text-center">
            <input asp-for="Prima" class="form-control form-control-sm w-75 mx-auto" placeholder="Prima" style="border-radius: 8px;" />
            <span asp-validation-for="Prima" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
